In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir())

['.ipynb_checkpoints', 'data.csv', '[SF-DST] Movies IMBD v3.0.ipynb']

In [28]:
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [4]:
len(data)

1890

# Предобработка датасета

In [34]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [9]:
data[data.budget == data.budget.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010

In [35]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [13]:
data[data.runtime == data.runtime.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003

In [36]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [15]:
data[data.runtime == data.runtime.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,174,6.8,2011

In [37]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [17]:
data.runtime.mean()

109.65343915343915

In [38]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [19]:
data.runtime.median()

106.5

In [39]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [29]:
data['profit'] = data['revenue'] - data['budget']

In [30]:
data.head()

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,228436354
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,185238201
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,1868178225
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,1316249360

In [31]:
data[data.profit == data.profit.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847

In [40]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [33]:
data[data.profit == data.profit.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431

In [ ]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [45]:
len(data.query('profit > 0'))

1478

In [46]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [59]:
films_2008 = data[data.release_year == 2008]
films_2008[films_2008.profit == films_2008.profit.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825

In [60]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [71]:
films_2012_2014 = data.query('release_year >= 2012 & release_year <= 2014')

In [75]:
films_2012_2014[films_2012_2014.profit == films_2012_2014.profit.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090

In [76]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [90]:
a = data.genres.iloc[0]

In [103]:
a.split('|')

['Drama', 'Adventure', 'Science Fiction']

In [102]:
a = data.loc[7, 'genres']

In [ ]:
data

In [120]:
def counter_genres(data):
    genres_dict = {}
    
    for i in range(len(data)):
        genres_list = data.loc[i, 'genres'].split('|')
        
        for genre in genres_list:
            if genre in genres_dict:
                genres_dict[genre] += 1
            else:
                genres_dict[genre] = 1
    
    return genres_dict

In [143]:
dict_genres = counter_genres(data)

In [144]:
series_genres = pd.Series(dict_genres).sort_values(ascending=False)

In [145]:
series_genres

Drama              782
Comedy             683
Thriller           597
Action             583
Adventure          416
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            223
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             20
Documentary          8
Foreign              2
dtype: int64

In [146]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [159]:
profitable_movies

,index,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
0,0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810
1,1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,228436354
2,2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,185238201
3,3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,1868178225
4,4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1473,1872,tt0171433,0.623706,30000000,37036004,Keeping the Faith,Ben Stiller|Edward Norton|Jenna Elfman|Anne Ba...,Edward Norton,"If you have to believe in something, you may a...","Best friends since they were kids, Rabbi Jacob...",127,Comedy,Spyglass Entertainment|Touchstone Pictures|Tri...,4/14/2000,79,5.7,2000,7036004
1474,1876,tt0219854,0.349034,65000000,69700000,The Kid,Bruce Willis|Spencer Breslin|Emily Mortimer|Li...,Jon Turteltaub,Nobody ever grows up quite like they imagined.,Powerful businessman Russ Duritz is self-absor...,104,Fantasy|Comedy|Family,Walt Disney Pictures,7/7/2000,141,5.9,2000,4700000
1475,1878,tt0199725,0.324003,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,4/21/2000,54,7.3,2000,7728118
1476,1884,tt0122459,0.249219,24000000,36609995,Return to Me,David Duchovny|Minnie Driver|Carroll O'Connor|...,Bonnie Hunt,A comedy straight from the heart,It took a lot of cajoling to get Bob (Duchovny...,115,Romance|Comedy|Drama,Metro-Goldwyn-Mayer (MGM)|JLT Productions,4/7/2000,32,5.5,2000,12609995
1477,1885,tt0120903,0.182246,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,2766,6.6,2000,82299717

In [158]:
profitable_movies = data.query('profit > 0').reset_index()

In [160]:
dict_genres_profitable = counter_genres(profitable_movies)
series_genres_profitable = pd.Series(dict_genres_profitable).sort_values(ascending=False)
series_genres_profitable

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

In [161]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [162]:
data.director.value_counts()

Steven Soderbergh       13
Clint Eastwood          12
Ridley Scott            12
Shawn Levy              10
Steven Spielberg        10
                        ..
J.B. Rogers              1
Dan St. Pierre           1
Atom Egoyan              1
Les Mayfield             1
Alejandro Monteverde     1
Name: director, Length: 958, dtype: int64

In [163]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [165]:
data.query('profit > 0').director.value_counts()

Ridley Scott              12
Clint Eastwood            10
Steven Spielberg          10
Steven Soderbergh         10
Shawn Levy                 9
                          ..
Chris Weitz|Paul Weitz     1
Christophe Gans            1
Jason Winer                1
John Hillcoat              1
Stephen Norrington         1
Name: director, Length: 774, dtype: int64

In [166]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [168]:
data.groupby('director').profit.agg('sum').sort_values(ascending=False)

director
Peter Jackson            5202593685
David Yates              3379295625
Christopher Nolan        3162548502
J.J. Abrams              2839169916
Michael Bay              2760938960
                            ...
David Bowers|Sam Fell     -84540684
Peter Hyams               -86956545
Ron Underwood             -92896027
James L. Brooks           -96289726
Sngmoo Lee               -413912431
Name: profit, Length: 958, dtype: int64

In [169]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [170]:
def profit_for_actor(data):
    actors_dict = {}
    
    for i in range(len(data)):
        actors_list = data.loc[i, 'cast'].split('|')
        
        for actor in actors_list:
            if actor in actors_dict:
                actors_dict[actor] += data.loc[i, 'profit']
            else:
                actors_dict[actor] = data.loc[i, 'profit']
    
    return actors_dict

In [176]:
dict_actors = profit_for_actor(data)
series_profit_for_actor = pd.Series(dict_actors).sort_values(ascending=False)
series_profit_for_actor

Emma Watson           6666245597
Daniel Radcliffe      6514990281
Rupert Grint          6408638290
Ian McKellen          6087375777
Robert Downey Jr.     5316030161
                         ...
Elisabeth Harnois     -111007242
Emilio EchevarrÃ­a    -119180039
Kate Bosworth         -369455668
Jang Dong-gun         -413912431
Ti Lung               -413912431
Length: 3408, dtype: int64

In [177]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [180]:
films_2012 = data.query('release_year == 2012').reset_index()

In [184]:
dict_actors_12 = profit_for_actor(films_2012)
series_profit_for_actor_12 = pd.Series(dict_actors_12).sort_values()
series_profit_for_actor_12

Kirsten Dunst         -68109207
Timothy Spall         -51893525
James Kidnie          -51893525
Heidi Hawkins         -51893525
Malin Ã…kerman        -43733509
                        ...
Mark Ruffalo         1299557910
Chris Evans          1299557910
Robert Downey Jr.    1299557910
Denis Leary          1319460639
Chris Hemsworth      1542450773
Length: 466, dtype: int64

In [189]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [191]:
data['high_budget'] = data.budget.apply(lambda x: 1 if x > data.budget.mean() else 0 )

In [196]:
def actor_counter(data):
    actors_dict = {}
    
    for i in range(len(data)):
        actors_list = data.loc[i, 'cast'].split('|')
        
        for actor in actors_list:
            if actor in actors_dict:
                actors_dict[actor] += 1
            else:
                actors_dict[actor] = 1
    
    return actors_dict

In [197]:
data_high_budget = data.query('high_budget == 1').reset_index()

In [200]:
dict_actors_high_budget = actor_counter(data_high_budget)
series_actors_high_budget = pd.Series(dict_actors_high_budget).sort_values(ascending=False)
series_actors_high_budget

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Tom Cruise           15
                     ..
Jennifer Tilly        1
Eileen Atkins         1
Jenna Elfman          1
Vincent Cassel        1
Piper Perabo          1
Length: 1508, dtype: int64

In [201]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [204]:
data['actors'] = data.cast.apply(lambda x: x.split('|'))

In [217]:
def actor_genre(data, actor):
    genres_dict = {}
    
    for i in range(len(data)):
        if actor in data.loc[i, 'cast']:
            for genre in data.loc[i, 'genres'].split('|'):
                if genre in genres_dict:
                    genres_dict[genre] += 1
                else:
                    genres_dict[genre] = 1
    return genres_dict

In [277]:
cage_ganres = actor_genre(data, 'Nicolas Cage')
series_cage_ganres = pd.Series(cage_ganres).sort_values(ascending=False)
series_cage_ganres

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Animation           3
Mystery             3
History             2
Romance             1
Horror              1
War                 1
dtype: int64

In [278]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [282]:
def companies_counter(data):
    companies_dict = {}
    for i in range(len(data)):
        companies_list = data.loc[i, 'production_companies'].split('|')
        for company in companies_list:
            if company in companies_dict:
                companies_dict[company] += 1
            else:
                companies_dict[company] = 1
        
    return companies_dict

In [285]:
companies = companies_counter(data)
series_companies = pd.Series(companies).sort_values(ascending=False)
series_companies

Universal Pictures                        173
Warner Bros.                              168
Paramount Pictures                        122
Columbia Pictures                         117
Twentieth Century Fox Film Corporation    109
                                         ...
Neal H. Moritz Productions                  1
Red Hour Productions                        1
Finestkind                                  1
Black and Blu Entertainment                 1
Nora Ephron Productions                     1
Length: 1772, dtype: int64

In [286]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [292]:
data_2015 = data.query('release_year == 2015').reset_index()

In [293]:
companies_2015 = companies_counter(data_2015)
series_companies_2015 = pd.Series(companies_2015).sort_values(ascending=False)
series_companies_2015

Warner Bros.                              12
Universal Pictures                        10
Twentieth Century Fox Film Corporation     8
Paramount Pictures                         7
Columbia Pictures                          7
                                          ..
Moonlighting Films                         1
Apatow Productions                         1
Chartoff-Winkler Productions               1
K. JAM Media                               1
Universal Studios                          1
Length: 246, dtype: int64

In [294]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [340]:
data['companies'] = data['production_companies'].apply(lambda x: x.split('|'))

In [342]:
def companies_genre_profit(data, genre):
    companies_dict = {}
    
    for i in range(len(data)):
        
        if data.loc[i, 'genres'] == genre:
            companies_list = data.loc[i, 'companies']
        
            for company in companies_list:
                
                if company in companies_dict:
                    companies_dict[company] += data.loc[i, 'profit']
                else:
                    companies_dict[company] = data.loc[i, 'profit']
        
    return companies_dict

In [343]:
profit_for_company = companies_genre_profit(data, 'Comedy')
series_profit_for_company = pd.Series(profit_for_company).sort_values(ascending=False)
series_profit_for_company

Columbia Pictures                         1140891136
Warner Bros.                              1108301566
Universal Pictures                        1006415624
Twentieth Century Fox Film Corporation     973359761
Green Hat Films                            857726677
                                             ...
Gracie Films                               -24958633
Sunswept Entertainment                     -33551615
Deuce Three Productions                    -33551615
Ingenious Media                            -33551615
Patalex Productions                        -46604061
Length: 213, dtype: int64

In [324]:
answer_ls.append(3)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [334]:
def company_profit(data):
    comany_dict = {}
    
    for i in range(len(data)):
        company_list = data.loc[i, 'production_companies'].split('|')
        
        for company in company_list:
            if company in comany_dict:
                comany_dict[company] += data.loc[i, 'profit']
            else:
                comany_dict[company] = data.loc[i, 'profit']
    
    return comany_dict

In [348]:
profit_company_12 = company_profit(films_2012)
series_profit_company_12 = pd.Series(profit_company_12).sort_values(ascending=False)
series_profit_company_12

Columbia Pictures     2501406608
Universal Pictures    1981011579
Marvel Studios        1299557910
Warner Bros.          1258020056
Relativity Media      1032593938
                         ...
Onyx Films             -51893525
Transfilm              -51893525
Jouror Productions     -51893525
Studio 37              -51893525
France 2 CinÃ©ma       -82545651
Length: 236, dtype: int64

In [349]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [355]:
films_paramount = data[data.production_companies.str.contains("Paramount Pictures", na=False)]

In [358]:
films_paramount[films_paramount.profit == films_paramount.profit.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,high_budget,actors,companies
926,tt0267626,0.72233,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,146,6.0,2002,-64831034,1,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...","[Paramount Pictures, Intermedia Films, Nationa..."

In [359]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [362]:
data.groupby('release_year').agg(sum)['profit'].sort_values(ascending=False)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2009    13423744372
2010    13117292530
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

In [363]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [365]:
films_wb = data[data.production_companies.str.contains("Warner Bros")]

In [367]:
films_wb.groupby('release_year').agg(sum).profit.sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [368]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [370]:
data['release_date'] = pd.to_datetime(data['release_date'])

In [372]:
data['realese_month'] = data['release_date'].dt.month

In [381]:
data.groupby('realese_month').agg('count').imdb_id.sort_values(ascending=False)

realese_month
9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

In [376]:
answer_ls.append(2)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [385]:
data.groupby('realese_month').agg('count').imdb_id[6] \
+ data.groupby('realese_month').agg('count').imdb_id[7] \
+ data.groupby('realese_month').agg('count').imdb_id[8]

450

In [386]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [414]:
data['winter'] = data['realese_month'].apply(lambda x: 1 if x == 12 or x == 1 or x == 2 else 0)

In [425]:
winter_films = data[data.winter == 1]

In [427]:
winter_films.groupby('director').agg('count').imdb_id.sort_values(ascending=False)

director
Peter Jackson                    7
Clint Eastwood                   6
Steven Soderbergh                6
Shawn Levy                       4
Adam Shankman                    4
                                ..
Matt Reeves                      1
Matthew O'Callaghan              1
Matthew Vaughn                   1
McG                              1
Aaron Seltzer|Jason Friedberg    1
Name: imdb_id, Length: 333, dtype: int64

In [428]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [532]:
all_years = data.release_year.unique()

In [505]:
profit_by_month = data.groupby(['release_year', 'realese_month']).agg(sum)[['profit']]

In [533]:
df = pd.DataFrame()

for year in all_years:
    df1 = profit_by_month[profit_by_month.profit == profit_by_month.loc[year].max().profit]
    df = pd.concat([df, df1])

In [537]:
df.reset_index().realese_month.value_counts()

6     7
12    4
5     4
7     1
Name: realese_month, dtype: int64

In [538]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [545]:
data['lean_name'] = data['original_title'].apply(lambda x: len(x))

In [554]:
result = []

for i in range(len(data)):
    companies = data.loc[i, 'production_companies'].split('|')
    
    for company in companies:
        interim_list =[]
        len_name = len(data.loc[i, 'original_title'])
        interim_list.append(company)
        interim_list.append(len_name)
        result.append(interim_list)

In [566]:
pd.DataFrame(result, columns=['company', 'len_name']) \
.groupby('company').agg('mean') \
.sort_values(by='len_name', ascending=False)

                            len_name
company
Four By Two Productions         83.0
Jim Henson Company, The         59.0
Dos Corazones                   47.0
Polsky Films                    46.0
Museum Canada Productions       46.0
...                              ...
Everest Entertainment            3.0
Berlanti Productions             3.0
Global Entertainment Group       2.0
XM2 Productions                  2.0
Ixtlan Productions               2.0

[1772 rows x 1 columns]

In [567]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [570]:
result = []

for i in range(len(data)):
    companies = data.loc[i, 'production_companies'].split('|')
    
    for company in companies:
        interim_list =[]
        len_name = len(data.loc[i, 'original_title'].split())
        interim_list.append(company)
        interim_list.append(len_name)
        result.append(interim_list)

In [572]:
pd.DataFrame(result, columns=['company', 'len_name']) \
.groupby('company').agg('mean') \
.sort_values(by='len_name', ascending=False)

                         len_name
company
Four By Two Productions      12.0
Jim Henson Company, The      10.0
Dos Corazones                 9.0
Polsky Films                  9.0
The Saul Zaentz Company       9.0
...                           ...
Jolie Pas                     1.0
Frantic Films                 1.0
Outpost Studios               1.0
Cinelou Films                 1.0
Danjaq                        1.0

[1772 rows x 1 columns]

In [573]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [592]:
all_words = []

for i in range(len(data)):
    words = data.loc[i, 'original_title'].split()
    
    for word in words:
        word = word.lower()
        if word in all_words:
            continue
        else:
            all_words.append(word)

In [593]:
len(all_words)

2461

In [594]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [647]:
best_films = data[data.vote_average >= data.vote_average.quantile(0.99)].original_title.unique()

In [650]:
best_films.sort()

In [651]:
for film in best_films:
    print(film)

12 Years a Slave
3 Idiots
Big Hero 6
Dallas Buyers Club
Eternal Sunshine of the Spotless Mind
Gone Girl
Guardians of the Galaxy
Her
Inception
Inside Out
Interstellar
Memento
Mr. Nobody
Prisoners
Room
Spotlight
The Dark Knight
The Fault in Our Stars
The Grand Budapest Hotel
The Imitation Game
The Lord of the Rings: The Fellowship of the Ring
The Lord of the Rings: The Return of the King
The Lord of the Rings: The Two Towers
The Pianist
The Prestige
The Theory of Everything
The Wolf of Wall Street
There Will Be Blood

In [652]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [656]:
one = 0
two = 0
tree = 0
four = 0
five = 0

for i in range(len(data)):
    actors = data.loc[i, 'cast'].split('|')
    
    if 'Johnny Depp' in actors and 'Helena Bonham Carter' in actors:
        one += 1
    if 'Hugh Jackman' in actors and 'Ian McKellen' in actors:
        two += 1
    if 'Vin Diesel' in actors and 'Paul Walker' in actors:
        tree += 1
    if 'Adam Sandler' in actors and 'Kevin James' in actors:
        four += 1
    if 'Daniel Radcliffe' in actors and 'Rupert Grint' in actors:
        five += 1
        
print('Johnny Depp & Helena Bonham Carter - ', one)
print('Hugh Jackman & Ian McKellen - ', two)
print('Vin Diesel & Paul Walker - ', tree)
print('Adam Sandler & Kevin James - ', four)
print('Daniel Radcliffe & Rupert Grint - ', five)

Johnny Depp & Helena Bonham Carter -  6
Hugh Jackman & Ian McKellen -  5
Vin Diesel & Paul Walker -  5
Adam Sandler & Kevin James -  5
Daniel Radcliffe & Rupert Grint -  8

In [657]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [658]:
data['profitable'] = data['profit'].apply(lambda x: 1 if x > 0 else 0)

In [668]:
directors = ['Quentin Tarantino', 'Steven Soderbergh', 'Robert Rodriguez', 'Christopher Nolan', 'Clint Eastwood']

for director in directors:
    len_films = len(data[data.director.str.contains(director)])
    profitable = data[data.director.str.contains(director)].profitable.sum()
    probability = profitable / len_films
    
    print('{} - вероятность, {} - всего фильмов, {} - успешных, {} - режисер' \
          .format(probability, len_films, profitable, director))

0.8571428571428571 - вероятность, 7 - всего фильмов, 6 - успешных, Quentin Tarantino - режисер
0.7692307692307693 - вероятность, 13 - всего фильмов, 10 - успешных, Steven Soderbergh - режисер
0.7272727272727273 - вероятность, 11 - всего фильмов, 8 - успешных, Robert Rodriguez - режисер
1.0 - вероятность, 8 - всего фильмов, 8 - успешных, Christopher Nolan - режисер
0.8333333333333334 - вероятность, 12 - всего фильмов, 10 - успешных, Clint Eastwood - режисер

In [669]:
answer_ls.append(4)

# Submission

In [670]:
len(answer_ls)

37

In [671]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       1
7    8       4
8    9       5
9   10       3
10  11       1
11  12       3
12  13       4
13  14       5
14  15       1
15  16       3
16  17       3
17  18       2
18  19       1
19  20       4
20  21       4
21  22       3
22  23       3
23  24       1
24  25       5
25  26       1
26  27       2
27  28       2
28  29       1
29  30       5
30  31       2
31  32       5
32  33       5
33  34       3
34  35       1
35  36       5
36  37       4