In [7]:
import pandas as pd
import numpy as np
import matplotlib
from datetime import datetime, timedelta

In [2]:
df = pd.read_csv('main_task.xls')

In [3]:
df

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776
4,id_615,Munich,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963
...,...,...,...,...,...,...,...,...,...,...
39995,id_499,Milan,"['Italian', 'Vegetarian Friendly', 'Vegan Opti...",500.0,4.5,$$ - $$$,79.0,"[['The real Italian experience!', 'Wonderful f...",/Restaurant_Review-g187849-d2104414-Reviews-Ro...,d2104414
39996,id_6340,Paris,"['French', 'American', 'Bar', 'European', 'Veg...",6341.0,3.5,$$ - $$$,542.0,"[['Parisian atmosphere', 'Bit pricey but inter...",/Restaurant_Review-g187147-d1800036-Reviews-La...,d1800036
39997,id_1649,Stockholm,"['Japanese', 'Sushi']",1652.0,4.5,NaN,4.0,"[['Good by swedish standards', 'A hidden jewel...",/Restaurant_Review-g189852-d947615-Reviews-Sus...,d947615
39998,id_640,Warsaw,"['Polish', 'European', 'Eastern European', 'Ce...",641.0,4.0,$$ - $$$,70.0,"[['Underground restaurant', 'Oldest Restaurant...",/Restaurant_Review-g274856-d1100838-Reviews-Ho...,d1100838
39999,id_4824,Milan,['Spanish'],4827.0,3.0,$$ - $$$,260.0,"[['Average', 'Nice an informal'], ['01/31/2016...",/Restaurant_Review-g187849-d1109020-Reviews-Ta...,d1109020

Первоначальная версия датасета состоит из десяти столбцов, содержащих следующую информацию:

**Restaurant_id** — идентификационный номер ресторана / сети ресторанов;  
**City** — город, в котором находится ресторан;  
**Cuisine Style** — кухня или кухни, к которым можно отнести блюда, предлагаемые в ресторане;  
**Ranking** — место, которое занимает данный ресторан среди всех ресторанов своего города;  
**Rating** — рейтинг ресторана по данным TripAdvisor (именно это значение должна будет предсказывать модель);  
**Price Range** — диапазон цен в ресторане;  
**Number of Reviews** — количество отзывов о ресторане;  
**Reviews** — данные о двух отзывах, которые отображаются на сайте ресторана;  
**URL_TA** — URL страницы ресторана на TripAdvosor;  
**ID_TA** — идентификатор ресторана в базе данных TripAdvisor.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
Restaurant_id        40000 non-null object
City                 40000 non-null object
Cuisine Style        30717 non-null object
Ranking              40000 non-null float64
Rating               40000 non-null float64
Price Range          26114 non-null object
Number of Reviews    37457 non-null float64
Reviews              40000 non-null object
URL_TA               40000 non-null object
ID_TA                40000 non-null object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

In [5]:
for col in df.columns:
    print(col, type(df.loc[0]['Restaurant_id']))

Restaurant_id <class 'str'>
City <class 'str'>
Cuisine Style <class 'str'>
Ranking <class 'str'>
Rating <class 'str'>
Price Range <class 'str'>
Number of Reviews <class 'str'>
Reviews <class 'str'>
URL_TA <class 'str'>
ID_TA <class 'str'>

In [6]:
type(df.loc[0]['Restaurant_id'])

str

# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели

In [7]:
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
X = df.drop(['Restaurant_id', 'Rating'], axis = 1)
y = df['Rating']

In [8]:
# Загружаем специальный инструмент для разбивки:
from sklearn.model_selection import train_test_split

In [9]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# Создаём, обучаем и тестируем модель

In [10]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [11]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

ValueError: could not convert string to float: 'Vienna'

В итоге модель не работает, т.к. содержатся текстовые данные. Будем дорабатывать датафрейм.  
На первом этапе для создания датафрейма давайте просто удалим столбцы, содержащие данные типа object, и заполним пропущенные значения (None или NaN) каким-то одним значением (нулём или средним арифметическим) для  всего столбца.

In [12]:
data = df.drop(['Restaurant_id', 'City', 'Cuisine Style', 'Price Range', 'Reviews', 'URL_TA', 'ID_TA'], axis=1)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 3 columns):
Ranking              40000 non-null float64
Rating               40000 non-null float64
Number of Reviews    37457 non-null float64
dtypes: float64(3)
memory usage: 937.6 KB

In [14]:
NoR = data['Number of Reviews'].median()

In [15]:
data['Number of Reviews'] = data['Number of Reviews'].fillna(NoR)

Запускаем код МО с очищенными данными

In [16]:
X = data.drop(['Rating'], axis = 1)
y = data['Rating']

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [18]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [19]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 0.43516140059523806

In [20]:
#------

Сколько типов кухонь представлено в наборе данных?

In [21]:
cusine = set()
for row in df['Cuisine Style']:
    if pd.isna(row) == False:
        for cus in row[1:-1].replace("'", '').split(','):
            if cus[0] != ' ':
                cusine.add(cus)
            else:
                cusine.add(cus[1:])

In [22]:
len(cusine)

125

Какая кухня представлена в наибольшем количестве ресторанов? Введите название кухни без кавычек или апострофов.

In [23]:
cusine_dict = {}

for cus in cusine:
    cusine_dict[cus] = 0

In [24]:
for row in df['Cuisine Style']:
    if pd.isna(row) == False:
        for cus in row[1:-1].replace("'", '').split(','):
            if cus[0] != ' ':
                cusine_dict[cus] += 1
            else:
                cusine_dict[cus[1:]] += 1

In [25]:
pd.Series(cusine_dict).sort_values(ascending=False)

Vegetarian Friendly    11189
European               10060
Mediterranean           6277
Italian                 5964
Vegan Options           4486
                       ...
Latvian                    1
Salvadoran                 1
Burmese                    1
Yunnan                     1
Xinjiang                   1
Length: 125, dtype: int64

Какое среднее количество кухонь предлагается в одном ресторане? Если в данных отсутствует информация о типах кухонь, то считайте, что в этом ресторане предлагается только один тип кухни. Ответ округлите до одного знака после запятой.

In [26]:
rest_counter = 0
cusine_counter = 0

for row in df['Cuisine Style']:
    if pd.isna(row) == False:
        rest_counter += 1
        cusine_counter += len(row[1:-1].replace("'", '').split(','))
    else:
        rest_counter += 1
        cusine_counter += 1

In [27]:
round(cusine_counter / rest_counter, 1)

2.6

Когда был оставлен самый свежий отзыв? Введите ответ в формате yyyy-mm-dd.

In [28]:
import re

In [29]:
pattern = re.compile('\d\d\D\d\d\D\d\d\d\d')

In [30]:
all_dates = []
for i in df['Reviews']:
    dates = pattern.findall(i)
    
    if len(dates) > 0:
        for date in dates:
            
            all_dates.append(pd.to_datetime(date))

In [31]:
pd.Series(all_dates).max()

Timestamp('2018-02-26 00:00:00')

Какое максимальное количество дней отделяет даты публикации отзывов, размещённых на сайте ресторана? Введите количество дней в виде целого числа.

In [32]:
delta = []

for i in df['Reviews']:
    dates = pattern.findall(i)
    
    if len(dates) > 1:
        date_1 = pd.to_datetime(dates[0])
        date_2 = pd.to_datetime(dates[1])
        delta.append(date_1 - date_2)

In [33]:
max(delta)

Timedelta('3207 days 00:00:00')

In [34]:
min(delta)

Timedelta('-362 days +00:00:00')

# Готовим датафрейм для обучения модели МО

Удаляем столбцы, которые не несут пользы (ID, линки)

In [35]:
df = df.drop(['Restaurant_id', 'URL_TA', 'ID_TA'], axis=1)

Первый вариант мы действуем грубо. Просто удаляем строки с пропусками

In [36]:
df1 = df.dropna()

Первый признак - какое кол-во кухонь присутствует в ресторане

In [37]:
def cusine_counter(row):
    cusine = []
    for cus in row[1:-1].replace("'", '').split(','):
        cusine.append(cus)
    return len(cusine)

In [38]:
df1['cusine_count'] = df1['Cuisine Style'].apply(cusine_counter)

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [39]:
df1.shape

(25694, 8)

In [40]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25694 entries, 0 to 39999
Data columns (total 8 columns):
City                 25694 non-null object
Cuisine Style        25694 non-null object
Ranking              25694 non-null float64
Rating               25694 non-null float64
Price Range          25694 non-null object
Number of Reviews    25694 non-null float64
Reviews              25694 non-null object
cusine_count         25694 non-null int64
dtypes: float64(3), int64(1), object(4)
memory usage: 1.8+ MB

Добавим признак - кол-во ресторанов в городе

In [41]:
quantity_rest = df1['City'].value_counts()

In [42]:
df1['quantity'] = df1['City'].apply(lambda x: quantity_rest[x])

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [43]:
df1.shape

(25694, 9)

Следующий признак - средняя оценка в городе в городе

In [44]:
mean_rating_in_city = df1.groupby('City')['Rating'].mean()

In [45]:
df1['mean_rating'] = df1['City'].apply(lambda x: mean_rating_in_city[x])

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [46]:
df1.shape

(25694, 10)

Признак - среднее кол-во отзывов о ресторане в городе

In [47]:
mean_number_reviews_in_city = df1.groupby('City')['Number of Reviews'].mean()

In [48]:
df1['mean_reviews'] = df1['City'].apply(lambda x: mean_number_reviews_in_city[x])

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [49]:
df1.shape

(25694, 11)

Удаляем текстовые признаки

In [50]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25694 entries, 0 to 39999
Data columns (total 11 columns):
City                 25694 non-null object
Cuisine Style        25694 non-null object
Ranking              25694 non-null float64
Rating               25694 non-null float64
Price Range          25694 non-null object
Number of Reviews    25694 non-null float64
Reviews              25694 non-null object
cusine_count         25694 non-null int64
quantity             25694 non-null int64
mean_rating          25694 non-null float64
mean_reviews         25694 non-null float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.4+ MB

In [51]:
df2 = df1.drop(['Reviews'], axis=1)
# для следующих вариантов

In [52]:
df1 = df1.drop(['City', 'Cuisine Style', 'Price Range', 'Reviews'], axis=1)

Снова запускаем алгоритмы МО

In [53]:
X = df1.drop(['Rating'], axis = 1)
y = df1['Rating']

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [55]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [56]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 0.20792419053549188

# Поработаем с dummy

In [57]:
def find_cuisine(row):
    if cus in row:
        return 1
    return 0

In [58]:
for cus in cusine:
    df2[cus] = df2['Cuisine Style'].apply(find_cuisine)

In [60]:
df2 = df2.drop('Cuisine Style', axis=1)

In [64]:
df22 = pd.get_dummies(df2)

In [85]:
df22

,Ranking,Rating,Number of Reviews,cusine_count,quantity,mean_rating,mean_reviews,Japanese,Peruvian,Norwegian,...,City_Paris,City_Prague,City_Rome,City_Stockholm,City_Vienna,City_Warsaw,City_Zurich,Price Range_$,Price Range_$$ - $$$,Price Range_$$$$
0,5570.0,3.5,194.0,3,3275,3.976641,164.612519,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,353.0,4.5,688.0,7,4086,3.979075,179.372491,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,621.0,4.0,84.0,3,554,4.049639,116.019856,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6,1722.0,4.0,50.0,2,1274,3.882653,263.211146,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9,4210.0,4.0,55.0,3,1636,4.161980,346.609413,0,0,0,...,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39994,7075.0,4.5,6.0,4,3275,3.976641,164.612519,0,0,0,...,1,0,0,0,0,0,0,0,1,0
39995,500.0,4.5,79.0,4,1274,3.882653,263.211146,0,0,0,...,0,0,0,0,0,0,0,0,1,0
39996,6341.0,3.5,542.0,5,3275,3.976641,164.612519,0,0,0,...,1,0,0,0,0,0,0,0,1,0
39998,641.0,4.0,70.0,5,420,4.113095,94.230952,0,0,0,...,0,0,0,0,0,1,0,0,1,0
39999,4827.0,3.0,260.0,1,1274,3.882653,263.211146,0,0,0,...,0,0,0,0,0,0,0,0,1,0

Снова запускаем алгоритмы МО

In [86]:
X = df22.drop(['Rating'], axis = 1)
y = df22['Rating']

In [87]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [88]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [89]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 0.20484355541718555