In [2]:
import numpy as np # для работы с массивами
import pandas as pd # для работы DataFrame 
import seaborn as sns # библиотека для визуализации статистических данных
import matplotlib.pyplot as plt # для построения графиков

%matplotlib inline

In [3]:
df = pd.read_csv('Admission_Predict_Ver1.1.csv')

In [4]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [5]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [6]:
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
495,496,332,108,5,4.5,4.0,9.02,1,0.87
496,497,337,117,5,5.0,5.0,9.87,1,0.96
497,498,330,120,5,4.5,5.0,9.56,1,0.93
498,499,312,103,4,4.0,5.0,8.43,0,0.73
499,500,327,113,4,4.5,4.5,9.04,0,0.84

In [9]:
C = df.corr()
C

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,1.000000,-0.103839,-0.141696,-0.067641,-0.137352,-0.003694,-0.074289,-0.005332,0.008505
GRE Score,-0.103839,1.000000,0.827200,0.635376,0.613498,0.524679,0.825878,0.563398,0.810351
TOEFL Score,-0.141696,0.827200,1.000000,0.649799,0.644410,0.541563,0.810574,0.467012,0.792228
University Rating,-0.067641,0.635376,0.649799,1.000000,0.728024,0.608651,0.705254,0.427047,0.690132
SOP,-0.137352,0.613498,0.644410,0.728024,1.000000,0.663707,0.712154,0.408116,0.684137
LOR,-0.003694,0.524679,0.541563,0.608651,0.663707,1.000000,0.637469,0.372526,0.645365
CGPA,-0.074289,0.825878,0.810574,0.705254,0.712154,0.637469,1.000000,0.501311,0.882413
Research,-0.005332,0.563398,0.467012,0.427047,0.408116,0.372526,0.501311,1.000000,0.545871
Chance of Admit,0.008505,0.810351,0.792228,0.690132,0.684137,0.645365,0.882413,0.545871,1.000000

In [11]:
df_0 = df[df['Research'] == 0]
C0 = df_0.corr()
C0

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,1.000000,-0.165248,-0.185665,-0.093655,-0.199090,-0.018579,-0.138537,NaN,-0.002771
GRE Score,-0.165248,1.000000,0.680668,0.384715,0.371424,0.365864,0.678476,NaN,0.603827
TOEFL Score,-0.185665,0.680668,1.000000,0.495748,0.476563,0.470956,0.696774,NaN,0.622458
University Rating,-0.093655,0.384715,0.495748,1.000000,0.607496,0.484262,0.516427,NaN,0.428580
SOP,-0.199090,0.371424,0.476563,0.607496,1.000000,0.618680,0.547098,NaN,0.470188
LOR,-0.018579,0.365864,0.470956,0.484262,0.618680,1.000000,0.562517,NaN,0.542528
CGPA,-0.138537,0.678476,0.696774,0.516427,0.547098,0.562517,1.000000,NaN,0.752714
Research,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Chance of Admit,-0.002771,0.603827,0.622458,0.428580,0.470188,0.542528,0.752714,NaN,1.000000

In [13]:
df_1 = df[df['Research'] == 1]
C1 = df_1.corr()
C1

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,1.000000,-0.094895,-0.140706,-0.058624,-0.109004,0.010475,-0.049214,NaN,0.024458
GRE Score,-0.094895,1.000000,0.824170,0.614739,0.613318,0.443374,0.806720,NaN,0.802439
TOEFL Score,-0.140706,0.824170,1.000000,0.602445,0.629436,0.436199,0.784173,NaN,0.787180
University Rating,-0.058624,0.614739,0.602445,1.000000,0.723126,0.573881,0.692237,NaN,0.713094
SOP,-0.109004,0.613318,0.629436,0.723126,1.000000,0.591858,0.717750,NaN,0.708238
LOR,0.010475,0.443374,0.436199,0.573881,0.591858,1.000000,0.564794,NaN,0.588558
CGPA,-0.049214,0.806720,0.784173,0.692237,0.717750,0.564794,1.000000,NaN,0.892489
Research,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Chance of Admit,0.024458,0.802439,0.787180,0.713094,0.708238,0.588558,0.892489,NaN,1.000000

In [16]:
df_0 = df_0.drop('Research', axis=1)

In [18]:
df_0 = df_0.drop('Serial No.', axis=1)

In [40]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [41]:
df_0 = df[df['Research'] == 0]

In [42]:
X = df_0[['TOEFL Score', 'CGPA']]
Y = df_0['Chance of Admit ']

In [45]:
A= np.column_stack((np.ones(220), X))

In [46]:
np.linalg.lstsq(A,Y,rcond=None)

(array([-1.04486443,  0.00442727,  0.14807744]),
 array([1.13772786]),
 3,
 array([1.54898055e+03, 5.02503482e+00, 6.75329627e-01]))

In [50]:
w_hat=np.linalg.inv(A.T@A)@A.T@Y
w_hat

array([-1.04486443,  0.00442727,  0.14807744])

In [51]:
new = np.array([1, 107, 9.1])
new@w_hat

0.7763585301807903

In [77]:
w_hat_l = []

for i in range(w_hat.shape[0]):
    val = w_hat[i]
    w_hat_l.append(round(val, 3))
    
w_hat_new = np.array(w_hat_l)

In [78]:
round(new@w_hat_new, 2)

0.73

In [53]:
# среднее значение вектора
meanTOEFL = df_0['TOEFL Score'].mean()
meanCGPA = df_0['CGPA'].mean()
meanY = Y.mean()

In [54]:
# Центрирование
TOEFL_c = df_0['TOEFL Score'] - meanTOEFL
CGPA_c = df_0['CGPA'] - meanCGPA
Y_c = Y - meanY

In [55]:
# вычисляем длины векторов для нормирования
TOEFL_c_norm = np.linalg.norm(TOEFL_c)
CGPA_c_norm = np.linalg.norm(CGPA_c)
Y_c_norm = np.linalg.norm(Y_c)

In [56]:
TOEFL_st = TOEFL_c / TOEFL_c_norm
CGPA_st = CGPA_c / CGPA_c_norm
Y_st = Y_c / Y_c_norm

In [57]:
A_st=np.column_stack((TOEFL_st, CGPA_st))
A_st

array([[-1.39082915e-02, -3.56567808e-03],
       [-4.19800725e-02, -4.82677452e-02],
       [-2.79441820e-02, -3.38477235e-02],
       [ 5.62711610e-02,  5.26724063e-02],
       [ 1.41634895e-02,  9.41234140e-03],
       [ 4.22352705e-02,  6.70924280e-02],
       [ 8.43429419e-02,  8.15124496e-02],
       [-2.79441820e-02,  3.82523847e-02],
       [ 1.40486504e-01,  2.38323630e-02],
       [ 7.03070514e-02,  8.15124496e-02],
       [-1.54267196e-01, -1.49207897e-01],
       [-7.00518534e-02, -1.34787875e-01],
       [ 2.81993800e-02,  2.38323630e-02],
       [ 1.41634895e-02, -6.26877668e-02],
       [ 1.41634895e-02, -1.05947832e-01],
       [ 5.62711610e-02, -7.71077885e-02],
       [ 1.82594175e-01,  1.24772515e-01],
       [ 2.10665956e-01,  2.11292644e-01],
       [ 8.43429419e-02, -3.38477235e-02],
       [-1.39082915e-02, -7.71077885e-02],
       [-2.79441820e-02, -1.20367853e-01],
       [-7.00518534e-02, -9.15278101e-02],
       [ 1.27599004e-04,  9.41234140e-03],
       [-5.60159630e-02, -1.94277019e-02],
       [-4.19800725e-02, -5.00768024e-03],
       [ 9.83788324e-02,  6.70924280e-02],
       [ 1.12414723e-01,  9.88164756e-02],
       [ 1.40486504e-01,  1.13236497e-01],
       [ 2.81993800e-02,  9.59324713e-02],
       [-7.00518534e-02, -2.12367592e-03],
       [-1.54267196e-01, -1.26135862e-01],
       [-1.39082915e-02,  6.13244193e-02],
       [ 2.81993800e-02,  2.67163674e-02],
       [ 4.22352705e-02,  6.52833707e-03],
       [ 5.62711610e-02, -1.36596932e-02],
       [-9.81236344e-02, -8.28757971e-02],
       [-8.40877439e-02, -2.95217170e-02],
       [-7.00518534e-02, -8.28757971e-02],
       [-5.60159630e-02, -5.69197582e-02],
       [-5.60159630e-02, -3.38477235e-02],
       [ 1.41634895e-02, -1.65436976e-02],
       [ 2.81993800e-02,  2.20233058e-03],
       [ 1.27599004e-04,  3.39263782e-02],
       [-1.39082915e-02,  5.84404150e-02],
       [ 5.62711610e-02,  3.53683804e-02],
       [ 8.43429419e-02,  4.69043977e-02],
       [-2.79441820e-02,  5.55564107e-02],
       [ 1.27599004e-04, -1.11715840e-01],
       [-7.00518534e-02, -1.37671879e-01],
       [ 2.81993800e-02,  1.80643544e-02],
       [ 5.62711610e-02, -2.12367592e-03],
       [ 2.81993800e-02,  3.39263782e-02],
       [ 1.41634895e-02,  5.98824172e-02],
       [ 1.41634895e-02,  4.69043977e-02],
       [ 1.12414723e-01,  7.86284453e-02],
       [-1.39082915e-02,  3.10423739e-02],
       [ 7.03070514e-02,  1.27656519e-01],
       [ 1.41634895e-02,  3.53683804e-02],
       [ 1.41634895e-02,  7.43024388e-02],
       [ 5.62711610e-02,  9.44904691e-02],
       [ 7.03070514e-02,  6.56504258e-02],
       [ 1.41634895e-02,  1.51803501e-02],
       [ 1.27599004e-04,  3.64433274e-03],
       [ 2.81993800e-02, -1.36596932e-02],
       [-5.60159630e-02, -4.82677452e-02],
       [-1.39082915e-02, -5.40357538e-02],
       [-7.00518534e-02, -1.11715840e-01],
       [ 7.03070514e-02,  3.82523847e-02],
       [ 1.41634895e-02,  4.69043977e-02],
       [ 8.43429419e-02,  1.06026486e-01],
       [-2.79441820e-02,  1.37383479e-02],
       [-2.79441820e-02,  5.08633491e-03],
       [-7.00518534e-02, -3.67317279e-02],
       [ 8.43429419e-02,  1.16120502e-01],
       [ 5.62711610e-02, -1.65436976e-02],
       [-2.79441820e-02,  5.08633491e-03],
       [ 1.27599004e-04, -1.07756889e-02],
       [ 4.22352705e-02,  2.67163674e-02],
       [-5.60159630e-02, -5.11517495e-02],
       [ 8.43429419e-02,  8.15124496e-02],
       [ 2.81993800e-02,  1.22963457e-02],
       [ 7.03070514e-02,  7.57444410e-02],
       [ 1.41634895e-02,  3.64433274e-03],
       [ 2.81993800e-02,  1.37383479e-02],
       [ 1.27599004e-04,  2.81583695e-02],
       [ 4.22352705e-02,  6.56504258e-02],
       [ 1.41634895e-02,  4.40203934e-02],
       [-7.00518534e-02, -8.43177993e-02],
       [-7.00518534e-02, -4.97097473e-02],
       [ 2.81993800e-02, -1.07756889e-02],
       [ 1.27599004e-04,  2.67163674e-02],
       [-1.39082915e-02,  7.43024388e-02],
       [ 8.43429419e-02,  4.69043977e-02],
       [ 1.26450613e-01,  8.00704475e-02],
       [ 7.03070514e-02,  3.10423739e-02],
       [ 1.41634895e-02, -6.81673751e-04],
       [-7.00518534e-02, -2.95217170e-02],
       [ 8.43429419e-02,  3.10423739e-02],
       [ 8.43429419e-02,  4.25783912e-02],
       [ 1.12414723e-01,  6.27664215e-02],
       [ 1.27599004e-04,  5.98824172e-02],
       [ 4.22352705e-02,  5.08633491e-03],
       [-5.60159630e-02, -2.37537084e-02],
       [ 1.27599004e-04,  1.95063566e-02],
       [-5.60159630e-02, -4.97097473e-02],
       [-4.19800725e-02, -7.99917928e-02],
       [-1.39082915e-02, -1.22176911e-02],
       [ 4.22352705e-02,  4.69043977e-02],
       [ 1.41634895e-02,  7.14184345e-02],
       [ 1.27599004e-04,  3.53683804e-02],
       [-7.00518534e-02,  1.10352493e-01],
       [ 1.40486504e-01,  1.27656519e-01],
       [ 8.43429419e-02,  1.95063566e-02],
       [-7.00518534e-02,  4.69043977e-02],
       [ 1.27599004e-04, -2.08697041e-02],
       [-2.79441820e-02,  6.42084237e-02],
       [ 1.41634895e-02,  3.10423739e-02],
       [ 1.26450613e-01,  1.30540523e-01],
       [ 5.62711610e-02,  1.51803501e-02],
       [-1.12159525e-01, -5.40357538e-02],
       [-1.26195415e-01, -8.57598015e-02],
       [-5.60159630e-02, -4.10577344e-02],
       [-4.19800725e-02,  5.55564107e-02],
       [-1.39082915e-02,  3.68103825e-02],
       [-2.79441820e-02,  7.14184345e-02],
       [ 1.27599004e-04,  1.13236497e-01],
       [ 7.03070514e-02,  1.10352493e-01],
       [ 1.41634895e-02, -8.43177993e-02],
       [-2.79441820e-02, -5.25937517e-02],
       [-7.00518534e-02, -3.81737300e-02],
       [-5.60159630e-02,  4.83463998e-02],
       [ 4.22352705e-02,  6.27664215e-02],
       [ 2.24701847e-01,  1.26214517e-01],
       [ 1.12414723e-01,  5.98824172e-02],
       [ 2.81993800e-02, -3.38477235e-02],
       [ 5.62711610e-02,  7.57444410e-02],
       [ 2.81993800e-02,  2.81583695e-02],
       [ 5.62711610e-02,  4.25783912e-02],
       [ 8.43429419e-02,  5.26724063e-02],
       [-5.60159630e-02, -2.80797149e-02],
       [ 1.41634895e-02, -1.51016954e-02],
       [ 1.27599004e-04, -2.37537084e-02],
       [-4.19800725e-02, -5.40357538e-02],
       [-7.00518534e-02, -3.24057214e-02],
       [ 4.22352705e-02,  5.08633491e-03],
       [-2.79441820e-02, -7.89168457e-03],
       [ 1.27599004e-04,  1.37383479e-02],
       [-5.60159630e-02, -3.09637192e-02],
       [-4.19800725e-02, -5.40357538e-02],
       [-1.12159525e-01, -4.97097473e-02],
       [ 8.43429419e-02,  8.00704475e-02],
       [ 2.81993800e-02,  7.60328414e-04],
       [-1.39082915e-02, -1.51016954e-02],
       [-1.12159525e-01, -1.29019866e-01],
       [-8.40877439e-02, -1.16041847e-01],
       [-9.81236344e-02, -8.57598015e-02],
       [-1.40231306e-01, -1.29019866e-01],
       [-7.00518534e-02, -1.41997886e-01],
       [-4.19800725e-02, -2.80797149e-02],
       [-2.79441820e-02, -9.33368674e-03],
       [-8.40877439e-02, -8.14337950e-02],
       [ 2.81993800e-02, -1.65436976e-02],
       [ 1.41634895e-02, -8.57598015e-02],
       [ 4.22352705e-02,  2.96003717e-02],
       [-1.39082915e-02,  1.80643544e-02],
       [-8.40877439e-02, -1.11715840e-01],
       [-1.68303087e-01, -5.11517495e-02],
       [-1.39082915e-02,  7.60328414e-04],
       [ 1.41634895e-02, -8.43177993e-02],
       [-4.19800725e-02, -8.28757971e-02],
       [-1.12159525e-01, -1.16041847e-01],
       [-5.60159630e-02, -9.72958188e-02],
       [-8.40877439e-02, -8.43177993e-02],
       [-5.60159630e-02,  3.64433274e-03],
       [-4.19800725e-02, -3.96157322e-02],
       [ 1.41634895e-02, -1.94277019e-02],
       [-9.81236344e-02, -6.26877668e-02],
       [-2.79441820e-02,  7.60328414e-04],
       [ 2.81993800e-02,  5.98824172e-02],
       [ 1.27599004e-04,  7.57444410e-02],
       [-1.39082915e-02,  7.86284453e-02],
       [-5.60159630e-02, -2.12367592e-03],
       [ 1.41634895e-02,  1.51803501e-02],
       [-7.00518534e-02, -1.13157843e-01],
       [-8.40877439e-02, -3.09637192e-02],
       [-1.12159525e-01, -9.72958188e-02],
       [-1.40231306e-01, -1.51016954e-02],
       [ 1.27599004e-04, -1.94277019e-02],
       [-1.39082915e-02, -7.99917928e-02],
       [ 9.83788324e-02, -2.95217170e-02],
       [-5.60159630e-02, -1.17483849e-01],
       [ 2.81993800e-02,  4.83463998e-02],
       [-1.39082915e-02,  7.28604366e-02],
       [ 9.83788324e-02,  4.40203934e-02],
       [-1.39082915e-02, -3.56567808e-03],
       [ 1.41634895e-02, -7.99917928e-02],
       [ 1.41634895e-02,  3.24843760e-02],
       [ 1.27599004e-04, -6.41297690e-02],
       [ 7.03070514e-02,  1.13236497e-01],
       [-4.19800725e-02,  1.29098521e-01],
       [ 1.41634895e-02, -3.24057214e-02],
       [-2.79441820e-02, -8.57598015e-02],
       [-5.60159630e-02, -5.11517495e-02],
       [-7.00518534e-02, -9.58538166e-02],
       [ 1.41634895e-02, -4.24997365e-02],
       [ 4.22352705e-02, -5.40357538e-02],
       [-9.81236344e-02, -1.47765895e-01],
       [-1.12159525e-01,  3.64433274e-03],
       [-1.39082915e-02, -2.08697041e-02],
       [-2.79441820e-02, -1.22176911e-02],
       [-4.19800725e-02, -5.11517495e-02],
       [ 1.27599004e-04, -1.65436976e-02],
       [ 1.41634895e-02, -7.89168457e-03],
       [-1.39082915e-02, -4.53837409e-02],
       [-2.79441820e-02,  1.95063566e-02],
       [ 1.54522394e-01,  1.30540523e-01],
       [ 8.43429419e-02,  3.82523847e-02],
       [-7.00518534e-02, -6.12457647e-02],
       [-1.39082915e-02,  2.81583695e-02],
       [ 1.26450613e-01,  1.16120502e-01]])

In [58]:
w_hat_st=np.linalg.inv(A_st.T@A_st)@A_st.T@Y_st.values
w_hat_st

array([0.19044768, 0.62001517])